<h1>Questions for STOOPID COACH</h1>

<h2>Ask your question to your coach!</h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Question">
  <input type="submit">
</form>
